@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Merienda:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Merienda:wght@400;700&display=swap');
.delete {
    float: right;
    position: absolute;
    bottom: 0;
    right: 0;
    color: red;
    cursor: pointer;
}

h2 {
    font-size: 70px;
    font-family: 'Merienda', cursive;
}

.fa-thumbs-up,
.fa-thumbs-down {
    cursor: pointer;
}

p,
.bestmQuote {
    font-family: 'Merienda', cursive;
    font-size: 20px;
}

.fa-thumbs-up:hover {
    color: blue;
}

.fa-thumbs-down:hover {
    color: red;
}